<div class="container-fluid bg-primary pt-5">
  <div class="row justify-content-around me-auto mb-2 mb-lg-0">
    <div class="col-auto">
      <div class="d-flex justify-content-center mb-2">
        <button class="btn btn-secondary" routerLink="/map">
          <i class="bi bi-map"></i> Map View
        </button>
      </div>
    </div>
    <div class="col-auto">
      <div class="d-flex justify-content-center mb-2">
        <button class="btn btn-secondary" routerLink="/list">
          <i class="bi bi-list"></i> List View
        </button>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt-3">
  <router-outlet></router-outlet>
</div>
